body {
    background-color: darkslategrey;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    border-left: 8px groove grey;
    border-right:  8px groove grey;
    margin: 0 10%;
    padding: 0 5%;
    background-color: lightgrey;
}

.titles {
    display: flex;
    margin-left: -5%;
    width: max-content;
    background: darkslategrey;
    padding: 8px 16px;
    color: white;
    border: 4px groove grey;
}

.images, .author {
    margin: 0 auto;
}

.lists {
    border-left: 4px groove grey;
    margin-left: 12px;
}

.page-break {
    border-bottom: 4px groove grey;
    padding-bottom: 16px;
}


.pages {
    width: max-content;
    border-left: 8px groove grey;
    font-size: 20px;
    font-weight: 800;
    text-align: left;
    padding: 8px 16px;
}